body{
    background-color: lightcoral;
}
.er {
    font-size: 20px;
    font-family: "Times New Roman";
    color: red;
}
.success{
    font-size: 20px;
    font-family: "Times New Roman";
    color: black;
}
